Repository Azure/aad-pod-identity: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr.yml, azure-pipelines.yml

.pipelines/pr.yml:
  pool: staging-pool
  jobs:
  - template: templates/unit-test.yml
  - template: templates/e2e-test.yml
    parameters:
      clusterConfigs:
      - aks

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: .pipelines/unit-tests-template.yml
  - template: .pipelines/e2e-tests-template.yml
    parameters:
      k8sReleases:
      - '1.18'
      clusterConfigs:
      - vmss
      - vmas

security: fix CVE-2022-41723
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: .pipelines/pr.yml, azure-pipelines.yml

ci: increase retries in identity validator (#1412)
  .pipelines/templates/build-images.yml
  go.mod
  go.sum
  test/e2e/Makefile
  test/e2e/go.mod
  test/e2e/go.sum
  test/image/identityvalidator/identityvalidator.go
Due: .pipelines/pr.yml, azure-pipelines.yml

run "go mod tidy"
  test/e2e/go.mod
  test/e2e/go.sum
Due: .pipelines/pr.yml, azure-pipelines.yml

Update NMI resource id query key
  pkg/nmi/server/server.go
  pkg/nmi/server/server_test.go
Due: .pipelines/pr.yml, azure-pipelines.yml

Update NMI resource id query key (#1401)
  pkg/nmi/server/server.go
  pkg/nmi/server/server_test.go
Due: .pipelines/pr.yml, azure-pipelines.yml

ci: update codecov config
  codecov.yml
Due: .pipelines/pr.yml, azure-pipelines.yml

ci: update codecov config (#1413)
  codecov.yml
Due: .pipelines/pr.yml, azure-pipelines.yml

chore: update debian-iptables to bullseye-v1.5.3
  Dockerfile
Due: .pipelines/pr.yml, azure-pipelines.yml

release: update manifest and helm charts for v1.8.15
  charts/aad-pod-identity-4.1.16.tgz
  charts/aad-pod-identity/Chart.yaml
  charts/aad-pod-identity/README.md
  charts/aad-pod-identity/values.yaml
  charts/index.yaml
  deploy/demo/deployment.yaml
  deploy/infra/deployment-rbac.yaml
  deploy/infra/deployment.yaml
  deploy/infra/managed-mode-deployment.yaml
  deploy/infra/noazurejson/deployment-rbac.yaml
  deploy/infra/noazurejson/deployment.yaml
  manifest_staging/charts/aad-pod-identity/Chart.yaml
  manifest_staging/charts/aad-pod-identity/README.md
  manifest_staging/charts/aad-pod-identity/values.yaml
  manifest_staging/deploy/demo/deployment.yaml
  manifest_staging/deploy/infra/deployment-rbac.yaml
  manifest_staging/deploy/infra/deployment.yaml
  manifest_staging/deploy/infra/managed-mode-deployment.yaml
  manifest_staging/deploy/infra/noazurejson/deployment-rbac.yaml
  manifest_staging/deploy/infra/noazurejson/deployment.yaml
  test/e2e/framework/config.go
  website/content/en/changelog/_index.md
  website/content/en/docs/Demo/standard_walkthrough.md
  website/content/en/docs/Getting started/installation.md
Due: .pipelines/pr.yml, azure-pipelines.yml

chore: update debian-iptables to bullseye-v1.5.4
  Dockerfile
Due: .pipelines/pr.yml, azure-pipelines.yml

chore: update debian-iptables to bullseye-v1.5.4 (#1417)
  Dockerfile
Due: .pipelines/pr.yml, azure-pipelines.yml

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: azure-pipelines.yml

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: azure-pipelines.yml

Update bug_report.md (#1419)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: azure-pipelines.yml

chore: update golangci-lint to v1.52.2
  .golangci.yml
  tools/go.mod
  tools/go.sum
Due: .pipelines/pr.yml, azure-pipelines.yml

chore: update golangci-lint to v1.52.2 (#1424)
  .golangci.yml
  tools/go.mod
  tools/go.sum
Due: .pipelines/pr.yml, azure-pipelines.yml

chore: update docker base image to `registry.k8s.io/build-image/debian-iptables:bullseye-v1.5.6`
  Dockerfile
  test/e2e/framework/iptables/iptables_helpers.go
Due: .pipelines/pr.yml, azure-pipelines.yml

release: update manifest and helm charts for v1.8.16
  charts/aad-pod-identity-4.1.17.tgz
  charts/aad-pod-identity/Chart.yaml
  charts/aad-pod-identity/README.md
  charts/aad-pod-identity/values.yaml
  charts/index.yaml
  deploy/demo/deployment.yaml
  deploy/infra/deployment-rbac.yaml
  deploy/infra/deployment.yaml
  deploy/infra/managed-mode-deployment.yaml
  deploy/infra/noazurejson/deployment-rbac.yaml
  deploy/infra/noazurejson/deployment.yaml
  manifest_staging/charts/aad-pod-identity/Chart.yaml
  manifest_staging/charts/aad-pod-identity/README.md
  manifest_staging/charts/aad-pod-identity/values.yaml
  manifest_staging/deploy/demo/deployment.yaml
  manifest_staging/deploy/infra/deployment-rbac.yaml
  manifest_staging/deploy/infra/deployment.yaml
  manifest_staging/deploy/infra/managed-mode-deployment.yaml
  manifest_staging/deploy/infra/noazurejson/deployment-rbac.yaml
  manifest_staging/deploy/infra/noazurejson/deployment.yaml
  test/e2e/framework/config.go
  website/content/en/changelog/_index.md
  website/content/en/docs/Demo/standard_walkthrough.md
  website/content/en/docs/Getting started/installation.md
Due: .pipelines/pr.yml, azure-pipelines.yml

release: update manifest and helm charts for `v1.8.16` (#1425)
  Dockerfile
  charts/aad-pod-identity-4.1.17.tgz
  charts/aad-pod-identity/Chart.yaml
  charts/aad-pod-identity/README.md
  charts/aad-pod-identity/values.yaml
  charts/index.yaml
  deploy/demo/deployment.yaml
  deploy/infra/deployment-rbac.yaml
  deploy/infra/deployment.yaml
  deploy/infra/managed-mode-deployment.yaml
  deploy/infra/noazurejson/deployment-rbac.yaml
  deploy/infra/noazurejson/deployment.yaml
  manifest_staging/charts/aad-pod-identity/Chart.yaml
  manifest_staging/charts/aad-pod-identity/README.md
  manifest_staging/charts/aad-pod-identity/values.yaml
  manifest_staging/deploy/demo/deployment.yaml
  manifest_staging/deploy/infra/deployment-rbac.yaml
  manifest_staging/deploy/infra/deployment.yaml
  manifest_staging/deploy/infra/managed-mode-deployment.yaml
  manifest_staging/deploy/infra/noazurejson/deployment-rbac.yaml
  manifest_staging/deploy/infra/noazurejson/deployment.yaml
  test/e2e/framework/config.go
  test/e2e/framework/iptables/iptables_helpers.go
  website/content/en/changelog/_index.md
  website/content/en/docs/Demo/standard_walkthrough.md
  website/content/en/docs/Getting started/installation.md
Due: .pipelines/pr.yml, azure-pipelines.yml

chore: use ubuntu-latest gh runner
  .github/workflows/codecov.yml
  .github/workflows/gh-pages.yml
Due: azure-pipelines.yml

chore: use ubuntu-latest gh runner (#1427)
  .github/workflows/codecov.yml
  .github/workflows/gh-pages.yml
Due: azure-pipelines.yml

ci: restrict permissions for gh workflows
  .github/workflows/codecov.yml
  .github/workflows/gh-pages.yml
Due: azure-pipelines.yml

ci: restrict permissions for gh workflows (#1428)
  .github/workflows/codecov.yml
  .github/workflows/gh-pages.yml
Due: azure-pipelines.yml

ci: remove nightly and load test pipeline
  .pipelines/nightly.yml
  .pipelines/templates/load-test.yml
  .pipelines/templates/publish-load-test-result.yml
Due: .pipelines/pr.yml, azure-pipelines.yml

ci: switch to using mariner pool
  .pipelines/pr.yml
Due: .pipelines/pr.yml, azure-pipelines.yml

ci: remove nightly and load test pipeline (#1432)
  .pipelines/nightly.yml
  .pipelines/pr.yml
  .pipelines/templates/load-test.yml
  .pipelines/templates/publish-load-test-result.yml
Due: .pipelines/pr.yml, azure-pipelines.yml

Update RELEASE.md
  docs/RELEASE.md
Due: none

Update RELEASE.md to clarify September EOL (#1433)
  docs/RELEASE.md
Due: none

Update README.md
  README.md
Due: azure-pipelines.yml

Update _index.md
  website/content/en/docs/_index.md
Due: azure-pipelines.yml

chore: update debian-iptables to bullseye-v1.5.7
  Dockerfile
  test/e2e/framework/iptables/iptables_helpers.go
Due: .pipelines/pr.yml, azure-pipelines.yml

release: update manifest and helm charts for v1.8.17
  charts/aad-pod-identity-4.1.18.tgz
  charts/aad-pod-identity/Chart.yaml
  charts/aad-pod-identity/README.md
  charts/aad-pod-identity/values.yaml
  charts/index.yaml
  deploy/demo/deployment.yaml
  deploy/infra/deployment-rbac.yaml
  deploy/infra/deployment.yaml
  deploy/infra/managed-mode-deployment.yaml
  deploy/infra/noazurejson/deployment-rbac.yaml
  deploy/infra/noazurejson/deployment.yaml
  manifest_staging/charts/aad-pod-identity/Chart.yaml
  manifest_staging/charts/aad-pod-identity/README.md
  manifest_staging/charts/aad-pod-identity/values.yaml
  manifest_staging/deploy/demo/deployment.yaml
  manifest_staging/deploy/infra/deployment-rbac.yaml
  manifest_staging/deploy/infra/deployment.yaml
  manifest_staging/deploy/infra/managed-mode-deployment.yaml
  manifest_staging/deploy/infra/noazurejson/deployment-rbac.yaml
  manifest_staging/deploy/infra/noazurejson/deployment.yaml
  test/e2e/framework/config.go
  website/content/en/changelog/_index.md
  website/content/en/docs/Demo/standard_walkthrough.md
  website/content/en/docs/Getting started/installation.md
Due: .pipelines/pr.yml, azure-pipelines.yml

Path conditions:
  .pipelines/pr.yml: any file but: docs, website, .github, README.md
  azure-pipelines.yml: any file but: docs
